body {
    font-weight: bold;
    margin: 0;
}

/* dimensione logo*/
.logo {
    width: 200px;
    height: 200px;
}

header {
    background-image: url(img/pattern.png);
    background-color: #4ea0ff;
    background-size: auto;
    height: 140px;
}

/* /dimensione logo*/

/* titolo autore e data */

h1 {
    width: 1000px;
    font-size: 40px;
    margin-block-end: 0px;
    margin-block-start: 16px;
}

.autore {
    color: #20a9e5;
}

.sottotitolo {
    color: #b6b6b6;
}

/* /titolo autore e data */

/* immagini */
.immagini{
    margin-top: 20px;
}
/* /immagini */

/* caption */
.caption{
    font-size: 12px;
}
/* /caption */

/* articolo*/
.paragrafo {
    font-size: 25px;
}

.importante {
    background-color: yellow;
}

/* articolo*/

/*lista*/
.list {
    margin-left: -20px;
}

/*/lista*/

/* tabella */
table {
    border-collapse: collapse;
    text-align: left;
}

.v50 {
    width: 50%;
}

.v25 {
    width: 25%;
}

td{
    padding: 10px;
}

thead {
    background-color: #20a9e5;
    color: white;
}

.sfondo {
    background-color: #b1e5f2;
}

/* /tabella */

/* immagini finali */
.box{
    width: 250px;
    height: 150px;
    margin-bottom: 10px;
    color: white;
    font-size: 19px;
    background-color: orange;
    padding: 20px 10px 0px 10px;
}

#screen{
background-image: url(img/monitor.jpg);
background-size: cover;
}

#graph{
background-image: url(img/graph.jpg);
background-size: cover;

}
/* /immagini finali */
